html
    head
        title signin success
        script(src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js")
        script
            include firebaseConfig.js
        script
            include signinSuccess.js
    body
        #signin-status
        #signin
        #account-details
        