html
    head
        title signin success
        script(src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script
            include firebaseConfig.js
        script
            include signinSuccess.js
    body
        //- #signin-status
        //- #signin
        //- #account-details
        img#profile-image
        #username
        a(class = 'button', href="/profile") My profile
        